@page
@model AspNetCoreWebApp.Pages.ProdutoCRUD.DeleteModel

@{
    ViewData["Title"] = "Exclusão de Produto";
}

<h1>@ViewData["Title"]</h1>

<h3>Deseja realmente excluir este produto?</h3>

<div>
       
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoModel.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdutoModel.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoModel.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdutoModel.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoModel.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdutoModel.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoModel.Estoque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdutoModel.Estoque)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProdutoModel.IdProduto" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar à Listagem</a>
    </form>
</div>
