@* @page
@model AspNetCoreWebApp.Pages.ProdutoCRUD2.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_BackTemplate.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProdutoModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoModel.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdutoModel.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoModel.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdutoModel.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoModel.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdutoModel.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoModel.Estoque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdutoModel.Estoque)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProdutoModel.IdProduto">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
 *@